body {
    margin: 0;
    padding: 0;
}

a {
    color: #09f;
}

    a:hover {
        text-decoration: none;
    }

#back_to_camera {
    clear: both;
    display: block;
    height: 80px;
    line-height: 40px;
    padding: 20px;
}

.fluid_container {
    max-width: 1300px;
    width: 90vw;
    top: 50%;
    flex-shrink: 0; /* Don't shrink it even if it's too wide */
}
.outer_container {
    display: flex; /* Magic begins */
    justify-content: center; /* Center contents */
}
